.control{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(0, 140, 255);
    margin: 25px 8px 0;
    cursor: pointer;
}
.control:hover{
    background-color: rgb(74, 161, 231);
}
@keyframes Rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .containImage{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
  }
  .box{
    position: relative;
  }
  .box .containImage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    animation: 4s linear infinite annimRotation;
  }
  @keyframes boxMagic {
    from {
      box-shadow: 
        0 0 0 #feac5e,
        0 0 0 #c779d0,
        0 0 0 #4bc0c8,
        0 0 0 #42db75
    }
    to {
        box-shadow: 
        0 -6px 0 #feac5e,
        -6px 0 0 #c779d0,
        0 6px 0 #4bc0c8,
        6px 0 0 #42db75
    }
  }
  @keyframes annimRotation {
    from {
      transform: rotate(0deg);
      
    }
    to {
      transform: rotate(360deg);
      
    }
  }
  @keyframes big {
    from {
      transform: scale(0.8);
    }
    to {
      transform: scale(1);
    }
  }
  @keyframes small {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.8);
    }
  }

  .containImage img{
    width: 100%;
    height: 100%;
  }

  .navigation{
    width: 100%;
  }
  .barre{
    width: 100%;
    height: 4px;
    cursor: pointer;
  }
  .duration{
    display: flex;
    position: relative;
  }
  .left{
    position: absolute;
    left: 0;
  }
  .right{
    position: absolute;
    right: 0;
  }