.container{
  text-align: center;
  padding: 5%;
}
body{
  background: linear-gradient(70deg,#001822ff, #61dafb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 1px 5px 10px rgb(1, 69, 99);
  border-radius: 5px;
  padding: 35px;
  background-color: transparent;
}
.lecture{
  width: 100%;
}








